name: Windows
on: [push, pull_request]

jobs:
  windows-build:
    runs-on: windows-latest
    strategy:
      matrix:
        build-type: [Debug, Release]
        architecture: [Win32, x64]

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: 'recursive'

    - name: Make build directory
      run: cmake -E make_directory ${{github.workspace}}/build

    - name: Configure CMake
      shell: bash
      working-directory: ${{github.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -A ${{ matrix.architecture }}

    - name: Build
      shell: bash
      working-directory: ${{github.workspace}}/build
      run: cmake --build . --config ${{ matrix.build-type }} --parallel 10